extends layout

block content
    h1= doctor.name
    hr
    a(href='https://mail.yahoo.com/') #{doctor.email}
    hr
    div
        p= doctor.profile
    hr
    ul.list-group
    each review, i in reviews
        li.list-group-item
            a(href="/articles/")= review.patientMessage
    hr
    a.btn.btn-primary(href='/patients/review/'+doctor._id) Add a review
    //a.btn.btn-danger.delete-article(href='#', data-id=doctor._id) Delete