extends layout

block content
    h1= doctor.name
    hr
    a(href='https://mail.yahoo.com/') #{doctor.email}
    hr
    div
        p= doctor.profile
    hr
    br
    br
    br
    if (reviews.length > 0)
        h5 See what others think of this doctor
        hr
    else
        h5 No one rewiewed this doctor. You should be the first!
        hr
    ul.list-group
    each review, i in reviews
        ul.list-group
            if (review.numberOfStars == '5')
                li.list-group-item
                    a(href="/articles/")= review.patientName + ': ⭐⭐⭐⭐⭐'
            if (review.numberOfStars == '4')
                li.list-group-item
                    a(href="/articles/")= review.patientName + ': ⭐⭐⭐⭐'
            if (review.numberOfStars == '3')
                li.list-group-item
                    a(href="/articles/")= review.patientName + ': ⭐⭐⭐'
            if (review.numberOfStars == '2')
                li.list-group-item
                    a(href="/articles/")= review.patientName + ': ⭐⭐'
            if (review.numberOfStars == '1')
                li.list-group-item
                    a(href="/articles/")= review.patientName + ': ⭐'
            li.list-group-item#abcd= review.patientMessage
        hr
    a.btn.btn-primary(href='/patients/review/'+doctor._id) Add a review
    //a.btn.btn-danger.delete-article(href='#', data-id=doctor._id) Delete